@import './vars/variables.scss';

.home {
  section {
    padding: 2rem;
  }
  
  .intro {
    background: $darkBlueColor;
    color: $whiteColor;
    height: 100vh;
    padding: 5rem 2rem;

    span {
      color: $actionColor;
    }

    .sub-heading {
      color: $mutedWhiteColor;
    }
  }
}