.main-nav {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;

  .links {
    display: flex;

    * {
      cursor: pointer;
      margin: auto 5px;
    }
  }
}